*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image:url(../images/blackbulls.jpg);
    
}
#wrapper{
    width: 940px;
    margin: 0px auto 20px auto;
    background: #F2D091;
}

header{
    background: #401111; 
}

header p{
     
}

#primary{
    height: 50px;
    line-height: 50px;
    background: #0D0000;
/*    line-height: 50px;*/
}

#primary li{
    list-style-type: none;
    float: left;
    width: 50%;
    text-align: center;
}

#primary a{
    text-decoration: none;
    display: block;
}
#primary a:hover{
    background: darkgreen;
}
main{
    float: left;
    width: 580px;
}
main p{
    margin-right: 20px;
    margin-left: 20px;
}
.right{
    float: right;
    height: 200px;
    border: #0D0000 solid 2px;
    margin-right: 10px;
    margin-left: 10px;
}
.left{
    float: left;
    height: 300px;
}
h1, h2{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
aside {
    float: right;
    width: 320px;
    margin-top: 30px;
    margin-right: 20px;
}
footer{
    height: 50px;
    clear: both;  
}
img{
    max-width: 100%;
    /*ensures that pic fits box*/
}
#logo{
    display: inline;
    height: 100px;  
}